.suo
*.suo
*.dll
*.pdb
*.exe
*.config
*.xml
!logconfig.xml
!config.logconfig.xml
.vs
*.application
obj
Fakes
FakesAssemblies
logs
*.manifest
!Resource/**/*
!Tank.Request/*.xml
!Tank.Request/Bin/*.dll
!Game.Base.Config
Road.Flash.dll
SqlDataProvider.dll
/Tank.Flash/flash/flash_old.rar
