<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="ApiPort" value="9500" />
		<add key="AdminKey" value="6F7A2C9E-FF14-45BA-AE8C-39F4E3D9027A" />
	</appSettings>
</configuration>

